<div class="ql-player-write">
    <div class="ql-prompt-card ql-final-prompt">{{prompt}}</div>
    <div class="ql-write-area">
        <input type="text" id="ql-answer-1" class="ql-input ql-final-input" maxlength="80" placeholder="Ответ 1..."
            autocomplete="off">
        <input type="text" id="ql-answer-2" class="ql-input ql-final-input" maxlength="80" placeholder="Ответ 2..."
            autocomplete="off">
        <input type="text" id="ql-answer-3" class="ql-input ql-final-input" maxlength="80" placeholder="Ответ 3..."
            autocomplete="off">
        <button id="ql-submit-final-btn" class="ql-submit-btn ql-submit-final">ОТПРАВИТЬ ВСЕ</button>
    </div>
</div>